
<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Poll End Participant Template</title>
    <meta name="description" content="Reset Password Email Template.">
    <style type="text/css">
        a:hover {text-decoration: underline !important;}
        table[name='leave-result'], th[name='leave-result'], td[name='leave-result'] {
            border: 1px solid black;
            border-collapse: collapse;
        }
        td[name='leave-result'] {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <!--100% body table-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
        style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
        <tr>
            <td>
                <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
                    align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                          {{!-- <a href="https://rakeshmandal.com" title="logo" target="_blank">
                            <img width="60" src="https://i.ibb.co/hL4XZp2/android-chrome-192x192.png" title="logo" alt="logo">
                          </a> --}}
                        </td>
                    </tr>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                                style="max-width:670px;background:#fff; border-radius:3px; text-align:left;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:0 35px; color:#2a2f31;">
                                        <h1 style="text-align:center; color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;"> Letter responding to employee's leave request</h1>
                                        <span
                                            style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                                        <p style=" font-size:16px;line-height:24px; margin:0;">
                                            Dear {{this.receiver}},
                                        </p>
                                        <p>We are happy to grant your leave request for <span style="font-weight: bold;">{{this.leaveFrom}}</span> through <span style="font-weight: bold;">{{this.leaveTo}}</span>. You deserve a good break. Rest up and have a lot of fun. We will all benefit from your renewed energy.</p>
                                        
                                            <table name="leave-result" style="width:100%;">
                                                <tr name="leave-result">
                                                    <td name="leave-result">Title</td>
                                                    <td name="leave-result" style="text-align: center;">{{this.title}}</td>
                                                </tr name="leave-result">
                                                <tr name="leave-result">
                                                    <td name="leave-result">Leave From</td>
                                                    <td name="leave-result" style="text-align: center;">{{this.leaveFrom}}</td>
                                                </tr name="leave-result">

                                                <tr name="leave-result">
                                                    <td name="leave-result">Leave To</td>
                                                    <td name="leave-result" style="text-align: center;">{{this.leaveTo}}</td>
                                                </tr name="leave-result">

                                                <tr name="leave-result">
                                                    <td name="leave-result">Status</td>
                                                    <td name="leave-result" style="text-align: center;">Approved</td>
                                                </tr>
                                                <tr name="leave-result">
                                                    <td name="leave-result">Request Handler</td>
                                                    <td name="leave-result" style="text-align: center;">{{this.requestHandler}}</td>
                                                </tr>
                                            </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <p style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">&copy; <strong>www.hrm-system-app.com</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!--/100% body table-->
</body>

</html>